{% extends 'base.html' %}

{% block main_content %}
<div class="about-text">
	<h1>About</h1>
	<p>
	Get subject and object of simple sentences.
	Library used:
	<a href="http://www.nltk.org" target="_blank">NLTK</a> and <a href="http://djangoproject.com" target="_blank">Django</a>
	</p>
	<h2>Contact</h2>
	<p>
	You can contact me on Twitter: <a href="https://twitter.com/is7yX" target="_blank">@is7yX</a> or <a href="https://github.com/AEzzatA" target="_blank">GitHub</a> <br> or Email: aezzata AT gmail DOT com
	</p>
</div>
{% endblock main_content %}
